.button {
  display: block;

  width: 280px;
  min-height: 30px;

  padding-top: 10px;

  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #68b738;

  cursor: pointer;
}
