.main-nav__logo-wrapper {
  border-bottom: 1px solid $gray-border-color;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    width: 708px;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-nav__logo-wrapper {
    flex-grow: 1;

    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1220px;
  }
}
