@mixin fontOswaldRegular ($font-size: 16px, $line-height: 20px, $color: $lightblack-text-color) {
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin fontArialRegular ($font-size: 14px, $line-height: 16px, $color: $gray-text-color) {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
