$black-color: #000000;
$green-color: #68b738;
$darkgreen-color: #5eaa2f;
$white-color: #ffffff;
$lightgray-color: #f2f2f2;
$darkgray-color: #666666;
$error-color: #ff8282;

$background-green-color: #64a83b;
$background-lightgray-color: #ebebeb;

$indicator-button-color: #dcdcdc;

$shadow-color: #b4b4b4;

$gray-border-color:#e6e6e6;
$mediumgray-border-color: #cdcdcd;
$darkgray-border-color: #cfcfcf;

$lightblack-text-color: #111111;
$darkgray-text-color: #222222;
$gray-text-color: #444444;

$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
