.additional-goods {
  width: 320px;

  margin-left: auto;
  margin-right: auto;
}

.additional-goods__header-container,
.additional-goods__table-wrapper {
  width: 280px;

  margin-left: auto;
  margin-right: auto;
}

.additional-goods__header-container {
  padding-top: 9px;
  padding-bottom: 13px;

  border-bottom: 1px solid $mediumgray-border-color;
}

.additional-goods__header {
  position: relative;

  @include fontOswaldRegular(24px, 24px);
  letter-spacing: -0.1px;

  &::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 250px;

    width: 18%;
    height: 3px;

    @media (min-width: 450px) {
      width: 40%;
    }

    @media (min-width: 620px) {
      width: 60%;
    }

    background-color: $green-color;
  }
}

@media (min-width: $tablet-width) {
  .additional-goods {
    width: 768px;

    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .additional-goods__header-container {
    position: relative;
    z-index: 1;

    width: 741px;

    margin-left: 27px;

    border: none;
  }

  .additional-goods__header {
    width: 373px;

    padding-left: 40px;

    @include fontOswaldRegular(36px, 36px);
    font-weight: normal;

    background-color: $white-color;

    &::before {
      display: none;
    }
  }

  .additional-goods__table-wrapper {
    width: 708px;
  }

  .additional-goods__table {
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1220px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 83px;
  }

  .additional-goods__table-wrapper {
    width: 895px;

    margin: 0;
  }

  .additional-goods__table {
    margin: 36px 0 0 0;
  }

  .additional-goods__header-container {
    width: 100%;

    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;

    &::before {
      top: 68px;
      left: -110px;

      width: 112%;
    }
  }

  .additional-goods__header {
    margin-left: -40px;
    padding-left: 40px;
  }
}
