.catalog {
  width: 320px;
}

.catalog__card-wrapper {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    width: $tablet-width;
  }

  .catalog__card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    width: 708px;

    margin-left: auto;
    margin-right: auto;
  }
}
