.promotion {
  position: relative;

  width: 280px;
  min-height: 287px;

  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;

  background: $background-green-color url("../img/gift-photo-mobile@1x.jpg") no-repeat 0 0;
  background-size: 280px 287px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: $background-green-color url("../img/gift-photo-mobile@2x.jpg") no-repeat 0 0;
    background-size: 280px 287px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 65px;
    left: 113px;

    width: 55px;
    height: 60px;

    background: url("../img/icon-gift.svg") no-repeat 0 0;
    background-size: 55px 60px;
  }
}

.promotion__description {
  display: inline-block;
  vertical-align: middle;

  margin-top: 187px;
  margin-left: 57px;
  padding: 0;

  width: 165px;

  @include fontArialRegular(16px, 20px, $white-color);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .promotion {
    width: 708px;
    min-height: 200px;

    margin-top: 69px;
    margin-bottom: 77px;

    background: $background-green-color url("../img/gift-photo-tablet@1x.jpg") no-repeat 0 0;
    background-size: 708px 200px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $background-green-color url("../img/gift-photo-tablet@2x.jpg") no-repeat 0 0;
      background-size: 708px 200px;
    }

    &::before {
      top: 65px;
      left: 91px;
    }
  }

  .promotion__description {
    margin-top: 72px;
    margin-left: 423px;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .promotion {
    width: 245px;

    margin: 39px 0 0 0;
    padding: 0;

    background: $background-green-color url("../img/gift-photo-desktop@1x.jpg") no-repeat 0 0;
    background-size: 245px 289px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: $background-green-color url("../img/gift-photo-desktop@2x.jpg") no-repeat 0 0;
      background-size: 245px 289px;
    }

    &::before {
      left: 97px;
    }
  }

  .promotion__description {
    margin-top: 186px;
    margin-left: 40px;

    text-align: center;
  }
}
