.categories {
  width: 320px;

  padding-top: 10px;
}

.categories__item {
  width: 280px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;

  background-color: $lightgray-color;

  &--weight-grow {
    margin-top: 20px;
  }
}

.categories__header {
  margin: 0 0 0 11px;
  padding: 0;

  @include fontOswaldRegular(24px, 37px);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.5px;

  &--weight-loss {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: -7px;
      left: 19px;
      z-index: 1;

      width: 35px;
      height: 49px;

      background: url("../img/icon-cat-slim.svg") no-repeat 0 0;
      background-size: 35px 49px;
    }

    &::after {
      content: "";

      position: absolute;
      top: -5px;
      left: 11px;

      width: 50px;
      height: 50px;

      border-radius: 50%;

      background: $green-color;
    }
  }

  &--weight-grow {
    position: relative;

    margin-left: 37px;

    &::before {
      content: "";

      position: absolute;
      top: 5px;
      left: -24px;
      z-index: 1;

      width: 67px;
      height: 28px;

      background: url("../img/icon-cat-pro.svg") no-repeat 0 0;
      background-size: 67px 28px;
    }

    &::after {
      content: "";

      position: absolute;
      top: -6px;
      left: -15px;

      width: 50px;
      height: 50px;

      border-radius: 50%;

      background: $green-color;
    }
  }
}

.categories__description {
  display: inline-block;
  vertical-align: top;

  width: 235px;

  margin-left: 20px;
  margin-top: 30px;

  @include fontArialRegular(14px, 18px);
  letter-spacing: -0.2px;
}

.categories__button {
  position: relative;

  display: block;

  width: 145px;

  margin-left: 20px;
  margin-top: 28px;
  padding-bottom: 22px;

  @include fontOswaldRegular(16px, 16px);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: -0.1px;

  &::before {
    content: "";

    position: absolute;
    top: 3px;
    left: 97px;

    width: 24px;
    height: 11px;

    background: url("../img/icon-right-arrow-long.svg") no-repeat 0 0;
    background-size: 24px 11px;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover::before,
  &:active::before {
    width: 33px;

    background: url("../img/icon-right-arrow-verylong.svg") no-repeat 0 0;
    background-size: 33px 11px;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    width: $tablet-width;

    margin-top: -35px;
    padding-top: 0;
  }

  .categories__item {
    width: 708px;

    &--weight-loss {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 39px;
    }

    &--weight-grow {
      margin-top: 31px;
      padding-top: 0;
      padding-bottom: 39px;
    }
  }

  .categories__header {
    margin-left: 53px;
    padding-top: 75px;

    @include fontOswaldRegular(36px, 37px);
    font-weight: normal;
    text-align: left;
    letter-spacing: 0;

    &--weight-loss {
      &::before {
        top: 80px;
        left: 423px;

        width: 140px;
        height: 194px;

        background-size: 140px 194px;
      }

      &::after {
        top: 92px;
        left: 393px;

        width: 200px;
        height: 200px;
      }
    }

    &--weight-grow {
      &::before {
        top: 135px;
        left: 359px;

        width: 268px;
        height: 112px;

        background-size: 268px 112px;
      }

      &::after {
        top: 91px;
        left: 395px;

        width: 200px;
        height: 200px;
      }
    }
  }

  .categories__description {
    width: 375px;

    margin-top: 25px;
    margin-left: 52px;

    @include fontArialRegular(16px, 24px);
    letter-spacing: 0;

    &--weight-grow {
      width: 344px;
    }
  }

  .categories__button {
    width: 160px;

    margin-top: 41px;
    margin-left: 53px;

    @include fontOswaldRegular(20px, 20px);

    &::before {
      top: 5px;
      left: 128px;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: 1440px;

    margin-top: 38px;
  }

  .categories__item-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 1220px;

    margin-left: auto;
    margin-right: auto;
  }

  .categories__item {
    margin: 31px 0 20px 0;

    &--weight-loss {
      width: 570px;
    }

    &--weight-grow {
      width: 570px;
    }
  }

  .categories__header {
    margin-left: 21px;
    padding-top: 77px;

    text-align: center;

    &--weight-loss {
      &::before {
        top: 42px;
        left: 45px;

        width: 70px;
        height: 97px;

        background-size: 70px 97px;
      }

      &::after {
        top: 48px;
        left: 31px;

        width: 100px;
        height: 100px;
      }
    }

    &--weight-grow {
      padding-left: 42px;

      &::before {
        top: 70px;
        left: 13px;

        width: 134px;
        height: 56px;

        background-size: 134px 56px;
      }

      &::after {
        top: 48px;
        left: 31px;

        width: 100px;
        height: 100px;
      }
    }
  }

  .categories__description {
    width: 470px;

    margin-top: 73px;
  }

  .categories__button {
    margin-top: 16px;
  }
}
