.example {
  width: 320px;

  margin-top: 45px;
  padding-bottom: 35px;

  background-color: $lightgray-color;
}

.example__header {
  margin: 0 0 0 20px;
  padding: 15px 0 0 0;

  @include fontOswaldRegular(36px, 60px);
  letter-spacing: -0.3px;
}

.example__description {
  margin: 23px 0 0 20px;

  width: 275px;

  @include fontArialRegular(14px, 18px);
}

.example__item-container {
  display: flex;

  margin-top: 26px;
}

.example__item {
  &--weight {
    margin-left: 20px;
  }

  &--time {
    margin-left: 34px;
  }
}

.example__cost {
  margin-top: 35px;
}

.example__image-container {
  margin-top: 33px;
}

.example__image {
  width: 320px;
  height: 240px;

  &--after {
    display: none;
  }
}

.example__button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 28px;
}

.example__button {
  border: none;

  @include fontOswaldRegular;
  text-transform: uppercase;

  background-color: $lightgray-color;

  cursor: pointer;

  span {
    border-bottom: 1px dotted #111111;
  }

  &:hover {
    span {
      margin-bottom: -1px;

      border-bottom: 1px solid #111111;
    }
  }

  &:active {
    span {
      border-bottom: none;
    }
  }
}

.example__button-indicator {
  position: relative;

  width: 85px;
  height: 15px;

  margin-left: 10px;
  margin-right: 7px;

  border: 1px solid #cdcdcd;
  border-radius: 7px;

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 8px;
    z-index: 1;

    width: 35px;
    height: 6px;

    background-color: $green-color;
    border-radius: 10px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    width: 768px;

    margin-top: 42px;
    padding-bottom: 74px;

    background: linear-gradient(to bottom, #ffffff 55.5%, #e6e6e6 55.5%, #e6e6e6 100%);
  }

  .example__text-container {
    display: flex;
    flex-wrap: wrap;

    width: 708px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6px;
  }

  .example__header {
    margin-left: 0;
    padding: 0;

    @include fontOswaldRegular(60px, 60px);
    font-weight: normal;
  }

  .example__description {
    width: 680px;

    margin-top: 64px;
    margin-left: 0;

    @include fontArialRegular(16px, 24px);
  }

  .example__item-container {
    width: 384px;

    margin-top: 34px;
    padding-top: 20px;
  }

  .example__item {
    &--weight {
      margin-left: 0;
    }

    &--time {
      margin-left: 41px;
    }
  }

  .example__cost {
    align-self: center;

    margin-top: 46px;
  }

  .example__image-wrapper {
    display: flex;

    margin-top: 81px;
    margin-left: 46px;
  }

  .example__image-before-wrapper {
    position: relative;
    z-index: 2;

    width: 337px;

    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 40%, #e6e6e6 40%, #e6e6e6 100%);

    overflow: hidden;
  }

  .example__image-after-wrapper {
    position: relative;

    width: 354px;
  }

  .example__image {
    &--before {
      min-width: 690px;
      height: 517px;
    }

    &--after {
      position: absolute;
      top: 0;
      left: -337px;
      z-index: 1;

      display: block;

      min-width: 690px;
      height: 517px;
    }
  }

  .example__button-container {
    justify-content: space-around;

    margin-top: 15px;
  }

  .example__button {
    @include fontOswaldRegular(20px, 20px);

    background-color: #e6e6e6;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    width: 1330px;

    margin-top: 0;
    padding-left: 110px;
    padding-bottom: 70px;

    background: linear-gradient(to bottom, #ffffff 30.5%, #f2f2f2 30.5%, #f2f2f2 100%);
  }

  .example__text-container {
    width: 570px;

    margin: 69px 0 0 0;
  }

  .example__description {
    width: 435px;

    margin-top: 147px;
  }

  .example__item-container {
    margin-top: 49px;
  }

  .example__cost {
    margin-top: 61px;
  }

  .example__image-wrapper {
    margin: 0;
  }

  .example__image-before-wrapper {
    width: 365px;

    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, transparent 20%, transparent 80%, #f2f2f2 80%, #f2f2f2 100%);
  }

  .example__image-after-wrapper {
    margin-left: -28px;
  }

  .example__image-container {
    width: 768px;

    margin-top: 16px;
    margin-left: 6px;
  }

  .example__button-container {
    margin-top: 37px;
    margin-left: -17px;
    margin-right: 15px;
  }

  .example__button {
    background-color: #f2f2f2;
  }
}
