.info {
  width: 320px;
}

.info__header {
  margin: 16px 0 0 20px;
  padding: 0;

  @include fontOswaldRegular(36px, 60px);
  letter-spacing: -0.3px;
}

.info__list {
  width: 280px;

  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;

  list-style: none;
}

.info__item {
  position: relative;

  display: flex;

  letter-spacing: -0.15px;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.info__image-container {
  width: 60px;
  height: 60px;

  margin-right: 20px;

  background-color: $green-color;

  img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
  }
}

.info__description {
  align-self: center;

  width: 195px;

  margin: 0;

  @include fontArialRegular(14px, 18px);
}

@media (min-width: $tablet-width) {
  .info {
    width: 768px;

    margin-top: 45px;
    padding-bottom: 67px;

    border-bottom: 1px solid #e6e6e6;
  }

  .info__header {
    margin-left: 30px;

    @include fontOswaldRegular(60px,60px);
    font-weight: normal;
  }

  .info__list {
    display: flex;
    flex-wrap: wrap;

    width: 708px;

    margin-top: 73px;
  }

  .info__item {
    flex-direction: column;

    width: 50%;

    &:nth-of-type(2n) {
      width: 40%;

      padding-left: 30px;
    }

    &:nth-of-type(n + 3) {
      padding-top: 114px;
    }

    &--first-step {
      &::before {
        content: "1";

        position: absolute;
        top: -40px;
        right: 125px;
        z-index: -1;

        @include fontOswaldRegular(281px, 281px, #f2f2f2);
      }
    }

    &--second-step {
      &::before {
        content: "2";

        position: absolute;
        top: -40px;
        right: 38px;
        z-index: -1;

        @include fontOswaldRegular(281px, 281px, #f2f2f2);
      }
    }

    &--third-step {
      &::before {
        content: "3";

        position: absolute;
        top: 74px;
        right: 107px;
        z-index: -1;

        @include fontOswaldRegular(281px, 281px, #f2f2f2);
      }
    }

    &--fourth-step {
      &::before {
        content: "4";

        position: absolute;
        top: 74px;
        right: 34px;
        z-index: -1;

        @include fontOswaldRegular(281px, 281px, #f2f2f2);
      }
    }
  }

  .info__image-container {
    width: 80px;
    height: 80px;
  }

  .info__description {
    align-self: flex-start;

    width: 245px;

    padding-top: 31px;

    @include fontArialRegular(16px, 24px);
  }
}
