.page-footer {
  width: 100%;

  background-color: $lightgray-color;
}

.page-footer__wrapper {
  width: 320px;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: $lightgray-color;
}

.page-footer__logo {
  display: inline-block;

  padding-top: 38px;
  padding-bottom: 28px;

  vertical-align: center;

  &[href] {
    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.page-footer__logo-wrapper {
  width: 280px;

  margin-left: auto;
  margin-right: auto;

  border-bottom: 1px solid $gray-border-color;
}

.page-footer__social {
  width: 280px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  border-bottom: 1px solid $gray-border-color;
}

.page-footer__copyright {
  width: 280px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  padding-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 100%;

    background-color: $lightgray-color;
  }

  .page-footer__logo-wrapper {
    width: 132px;

    margin: 0;
    padding: 0;

    border: none;
  }

  .page-footer__logo {
    margin: 0;
    padding: 0;

    width: 132px;
    height: 26px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 708px;

    margin-left: auto;
    margin-right: auto;
    padding-top: 38px;
    padding-bottom: 40px;

    border: none;
  }

  .page-footer__social {
    margin: 0 0 0 37px;
    padding: 0;

    border: none;
  }

  .page-footer__copyright {
    width: 165px;

    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 100%;

    background-color: $lightgray-color;
  }

  .page-footer__wrapper {
    width: 1220px;

    padding-top: 45px;

    margin-left: auto;
    margin-right: auto;
  }

  .page-footer__logo {
    margin-left: 0;
  }

  .page-footer__logo-image {
    width: 132px;
  }

  .page-footer__copyright {
    margin-right: 0;
  }

  .page-footer__social {
    margin-left: 3px;
  }
}
