.form {
  width: 320px;

  margin-left: auto;
  margin-right: auto;
}

.form__header-wrapper {
  width: 280px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.form__header {
  width: 240px;

  @include fontOswaldRegular(14px, 18px);
  text-transform: uppercase;
  font-weight: normal;
}

.form__input-text,
.form__comment {
  @include fontOswaldRegular(16px, 18px, #444444);
  text-transform: uppercase;
  text-indent: 12px;
}

.form__legend {
  @include fontOswaldRegular(24px, 24px);

  &--owner-info {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 12px;
      right: -20px;

      width: 100px;
      height: 3px;

      background-color: $green-color;
    }
  }

  &--comment {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 12px;
      right: -181px;

      width: 158px;
      height: 3px;

      background-color: $green-color;
    }
  }

  &--additional {
    position: relative;

    &::before {
      content: "";

      position: absolute;
      top: 16px;
      right: -158px;

      width: 135px;
      height: 3px;

      background-color: $green-color;
    }
  }
}

fieldset {
  width: 320px;

  margin: 0;
  padding: 0;

  border: none;
}

.form__list {
  width: 280px;

  margin: 0 auto;
  padding: 22px 0 0 0;

  list-style: none;

  &--checkbox {
    padding-top: 33px;
    margin: 0;
  }

  &--column {
    padding-top: 28px;
  }
}

.form__item {
  position: relative;

  display: flex;

  margin-bottom: 9px;

  &--radio {
    padding-left: 32px;
    margin-bottom: 25px;
  }

  &--checkbox {
    padding-left: 33px;
    margin-bottom: 24px;
  }
}

.form__label {
  align-self: center;

  padding-right: 15px;

  @include fontOswaldRegular(16px, 18px, #222222);
  text-transform: uppercase;

  &--radio {
    position: relative;

    cursor: pointer;

    &::before {
      content: "";

      position: absolute;
      top: -7px;
      left: -47px;

      width: 30px;
      height: 30px;

      border: 1px solid #cfcfcf;
      border-radius: 50%;

      background-color: #ffffff;

      cursor: pointer;
    }

    &::after {
      display: none;

      content: "";

      position: absolute;
      top: 2px;
      left: -37px;

      width: 13px;
      height: 13px;

      border-radius: 50%;

      background-color: $green-color;

      cursor: pointer;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--checkbox {
    position: relative;

    cursor: pointer;

    &::before {
      content: "";

      position: absolute;
      top: -5px;
      left: -47px;

      width: 30px;
      height: 30px;

      border: 1px solid #cfcfcf;

      background-color: #ffffff;

      cursor: pointer;
    }

    &::after {
      display: none;

      content: "";

      position: absolute;
      top: -4px;
      left: -36px;

      width: 9px;
      height: 19px;

      border-right: 2px solid $green-color;
      border-bottom: 2px solid $green-color;

      transform: rotate(48deg) skew(5deg);

      cursor: pointer;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.form__input-text {
  flex-grow: 1;

  padding: 0;

  height: 45px;

  border: 2px solid #e6e6e6;

  &:hover {
    border: 2px solid #cfcfcf;
  }

  &:focus {
    border: 2px solid #000000;

    & ~ .form__icon-wrapper {
      fill: $green-color;
    }
  }

  &:invalid {
    border: 2px solid #ff8282;

    & ~ .form__icon-wrapper {
      fill: #ff8282;
    }
  }
}

.form__input-text--owner-info {
  text-indent: 10px;
}

.form__program-goal-wrapper {
  width: 318px;

  margin-top: 12px;
  margin-bottom: 30px;

  border: 1px solid #e6e6e6;
}

.form__input-radio {
  align-self: center;

  opacity: 0;

  &:checked {
    & ~ .form__label--radio::after {
      display: block;
    }
  }
}

.form__owner-info-wrapper {
  width: 280px;

  margin-left: auto;
  margin-right: auto;
}

.form__list-row {
  margin-top: 8px;
}

.form__comment-wrapper {
  width: 280px;

  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.form__comment {
  width: 280px;
  height: 135px;

  padding: 13px 0 0 0;
  margin-top: 35px;

  resize: none;

  &:focus {
    border: 1px solid #000000;
  }
}

.form__additional {
  width: 280px;

  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.form__input-checkbox {
  align-self: center;

  opacity: 0;

  &:checked {
    & ~ .form__label--checkbox::after {
      display: block;
    }
  }
}

.form__submit-button-wrapper {
  margin-top: 17px;
}

.form__submit-button {
  width: 280px;

  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;

  border: none;

  @include fontOswaldRegular(16px, 20px, #ffffff);

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    span {
      opacity: 0.3;
    }
  }
}

.form__required-info {
  width: 320px;

  margin-bottom: 45px;

  @include fontArialRegular;

  span {
    margin-left: 82px;
  }
}

.form__icon-wrapper {
  &--mail {
    position: absolute;
    z-index: 1;
    top: 17px;
    right: 16px;
  }

  &--phone {
    position: absolute;
    z-index: 1;
    top: 14px;
    right: 13px;
  }
}

@media (min-width: $tablet-width) {
  .form {
    width: 768px;

    margin-left: auto;
    margin-right: auto;
  }

  .form__header-wrapper {
    width: 630px;

    margin-top: 57px;
    padding-left: 3px;
  }

  .form__header {
    width: 330px;

    @include fontOswaldRegular(20px, 30px);
  }

  .form__label {
    @include fontOswaldRegular(20px, 20px, #222222);

    &--radio {
      &::before {
        top: -10px;
        left: -47px;

        width: 38px;
        height: 38px;
      }

      &::after {
        top: 1px;
        left: -36px;

        width: 18px;
        height: 18px;
      }
    }

    &--checkbox {
      padding-left: 12px;

      &::before {
        top: -10px;
        left: -47px;

        width: 39px;
        height: 39px;
      }

      &::after {
        top: -4px;
        left: -31px;

        width: 9px;
        height: 19px;

        transform: rotate(48deg) skew(5deg);
      }
    }
  }

  .form__input-text,
  .form__comment {
    @include fontOswaldRegular(20px, 20px, #444444);
    text-indent: 15px;
  }

  .form__legend {
    @include fontOswaldRegular(36px, 36px);

    &--owner-info {
      position: relative;

      z-index: 1;

      width: 594px;

      text-align: left;

      background-color: #ffffff;

      &::before {
        top: 23px;
        right: 634px;
        z-index: -1;

        width: 100vw;
        height: 3px;

        background-color: $green-color;
      }

      &::after {
        content: "";

        position: absolute;
        top: 23px;
        left: 553px;
        z-index: -1;

        width: 20%;
        height: 3px;

        background-color: $green-color;
      }
    }

    &--comment {
      position: relative;

      &::before {
        top: 23px;
        right: 217px;
        z-index: -1;

        width: 100vw;
        height: 3px;

        background-color: $green-color;
      }

      &::after {
        content: "";

        position: absolute;
        top: 23px;
        left: -69px;
        z-index: -1;

        width: 19px;
        height: 3px;

        background-color: $green-color;
      }
    }

    &--additional {
      position: relative;

      &::before {
        top: 22px;
        right: 249px;
        z-index: -1;

        width: 100vw;
        height: 3px;

        background-color: $green-color;
      }

      &::after {
        content: "";

        position: absolute;
        top: 23px;
        left: -69px;
        z-index: -1;

        width: 10px;
        height: 3px;

        background-color: $green-color;
      }
    }
  }

  fieldset {
    width: 768px;
  }

  .form__cat-info-wrapper {
    margin-top: 36px;

    .form__label {
      padding-left: 3px;
      padding-right: 17px;
    }
  }

  .form__list {
    width: 631px;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;

      padding-top: 58px;
    }
  }

  .form__item {
    margin-bottom: 18px;

    &--radio {
      margin-bottom: 33px;
    }

    &--checkbox {
      width: 40%;

      padding-left: 35px;
      margin-bottom: 53px;

      &:not(:nth-of-type(2n)) {
        margin-right: 56px;
      }
    }
  }

  .form__input-text {
    height: 50px;
  }

  .form__program-goal-wrapper {
    width: 631px;

    margin-top: 53px;
    margin-left: auto;
    margin-right: auto;

    .form__label {
      margin-left: 32px;
      padding-left: 12px;
    }

    .form__list {
      &--column {
        padding-top: 34px;
      }
    }
  }

  .form__owner-info-wrapper {
    margin-top: 75px;

    width: 631px;

    .form__input-text {
      text-indent: 20px;
    }

    .form__list {
      padding-top: 68px;
    }

    .form__item {
      &:first-of-type {
        padding-left: 3px;
      }
    }
  }

  .form__comment-wrapper {
    width: 631px;

    margin-top: 45px;
  }

  .form__comment {
    width: 631px;
    height: 160px;

    margin-top: 75px;
    padding-top: 15px;

    text-indent: 20px;
  }

  .form__icon-wrapper {
    &--mail {
      top: 19px;
      right: 18px;
    }

    &--phone {
      top: 18px;
      right: 15px;
    }
  }

  .form__additional {
    width: 631px;

    margin-top: 61px;
  }

  .form__button-required-wrapper {
    display: flex;

    width: 631px;

    margin-left: auto;
    margin-right: auto;
  }

  .form__submit-button-wrapper {
    margin-top: 10px;
    margin-left: 2px;
    margin-bottom: -5px;
  }

  .form__submit-button {
    width: 283px;

    padding-top: 16px;
    padding-bottom: 16px;

    @include fontOswaldRegular(20px, 20px, #ffffff);
  }

  .form__required-info {
    margin-top: 27px;
    margin-bottom: 0;

    @include fontArialRegular(16px, 16px);

    span {
      margin-left: 62px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 1300px;

    margin-left: auto;
    margin-right: auto;
  }

  .form__header-wrapper {
    width: 1220px;

    margin: 57px auto 0 auto;
    padding-left: 0;
  }

  .form__list {
    width: 570px;

    margin-left: 0;
    margin-right: 0;
  }

  .form__item {
    &--radio {
      padding-left: 31px;
    }

    &--checkbox {
      width: 210px;

      &:not(:last-of-type) {
        margin-right: 79px;
      }
    }
  }

  .form__cat-info-wrapper {
    width: 570px;

    margin-top: 0;

    .form__label {
      padding-left: 1px;
    }
  }

  .form__program-goal-wrapper {
    width: 570px;

    margin: 30px 0 18px 0;
  }

  .form__fieldset-wrapper {
    display: flex;
    justify-content: space-between;

    width: 1220px;

    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__owner-info-wrapper {
    width: 1220px;

    margin: 50px auto 0 auto;

    .form__input-text {
      text-indent: 17px;
    }

    .form__list {
      display: flex;
      justify-content: space-between;

      width: 1220px;
    }

    .form__item {
      width: 570px;

      &:first-of-type {
        padding-left: 1px;
      }
    }
  }

  .form__label {
    &--email {
      padding-right: 20px;
    }
  }

  .form__icon-wrapper {
    &--mail {
      right: 21px;
    }

    &--phone {
      right: 19px;
    }
  }

  .form__comment-wrapper {
    width: 1220px;

    margin-top: 47px;
  }

  .form__comment {
    width: 1220px;

    margin-top: 76px;
  }

  .form__additional {
    width: 1220px;

    margin-top: 62px;

    .form__list {
      width: 1220px;
    }
  }

  .form__button-required-wrapper {
    width: 1220px;

    margin-top: 9px;
    padding-bottom: 67px;
  }

  .form__submit-button {
    width: 567px;
  }

  .form__required-info {
    span {
      margin-left: 82px;
    }
  }

  .form__legend {
    &--owner-info {
      &::before {
        right: 634px;
      }

      &::after {
        left: 553px;

        width: 100px;
      }
    }

    &--comment {
      &::before {
        right: 218px;
      }

      &::after {
        left: 220px;

        width: 100px;
      }
    }

    &--additional {
      &::before {
        right: 250px;
      }

      &::after {
        left: 252px;

        width: 100px;
      }
    }
  }
}
